<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <link rel="stylesheet" href="https://rawgit.com/lykmapipo/themify-icons/master/css/themify-icons.css"> -->
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Príncipe Azul</title>
  </head>
  <body class="light header-top-bgcolor">
    <noscript>
      <strong>We're sorry but vue-dashboard doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <script src="https://cdn.agora.io/sdk/web/AgoraRTCSDK-2.1.0.js"></script>
  </body>
</html>
